<div style="height: 100vh; width: 100%;">
  <div leaflet 
       [leafletOptions]="options" 
       (leafletMapReady)="onMapReady($event)" 
       style="height: 100%; width: 100%;">
  </div>
</div>
<div style="position: absolute; top: 10px; left: 50px; z-index: 1000;">
  <button (click)="setDrawMode('point')">Point</button>
  <button (click)="setDrawMode('line')">Line</button>
  <button (click)="setDrawMode('polygon')">Polygon</button>
  <button (click)="setDrawMode('route')">Route</button>
</div>